<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    />
    <link
      href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.css"
      rel="stylesheet"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <title>Contact Foodingle</title>
  </head>
  <body>
    <nav id="navforcontact" class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" id="logo" href="#">Foodingle</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav" style="margin: auto;">
            <li class="nav-item active">
              <a
                class="nav-link"
                href="Home.html"
                style="
                  color: white !important;
                  border-radius: 10px;
                  font-size: 1.3rem;
                  margin-left: 100px;
                  padding: 0px 4px;
                "
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link naving"
                href="Home.html"
                style="
                  color: white !important;

                  border-radius: 10px;
                  font-size: 1.3rem;
                  margin-left: 30px;
                  padding: 0px 4px;
                "
                >About</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link naving"
                href="Home.html"
                style="
                  color: white !important;
                  border-radius: 10px;
                  font-size: 1.3rem;
                  margin-left: 30px;
                  padding: 0px 4px;
                "
                >Services</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="Contact.html"
                style="
                  color: white !important;
                  border-radius: 10px;
                  font-size: 1.3rem;
                  margin-left: 30px;
                  padding: 0px 4px;
                "
                >Contact</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                href="Menu.html"
                style="
                  color: white !important;

                  border-radius: 10px;
                  font-size: 1.3rem;
                  margin-left: 30px;
                  padding: 0px 4px;
                "
                >Menu</a
              >
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a
                class="btn btn-primary"
                href="#"
                style="font-size: 1.4rem; margin-left: 30px;"
                >Post Recipie</a
              >
            </li>
            <li class="nav-item">
              <a
                class="btn btn-warning"
                href="Cart.html"
                style="font-size: 1.4rem; margin-left: 30px;"
                >Visit Cart</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="slider">
      <img
        src="../images/home/hero_2.jpg"
        alt=""
        style="
          height: 100vh;
          width: 1350px;
          background-size: cover;
          background-repeat: no-repeat;
          min-height: 700px;
        "
      />
      <div style="position: relative; top: -400px; left: 200px;">
        <div class="col-md-8 text-center col-sm-12">
          <h1
            class="display-2"
            style="
              font-size: 5rem;
              color: orangered;
              line-height: 1.2;
              font-weight: 800 !important;
              text-transform: uppercase;
            "
          >
            C<span style="color: #fff;">o</span>nt<span style="color: #fff;"
              >a</span
            >ct F<span style="color: #fff;">o</span
            ><span style="color: #fff;">o</span>dy
          </h1>
          <br />
          <p>
            <a href="#" class="btn btn-warning">Get Started</a>
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <form>
            <div class="row">
              <div class="col-md-6 form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" />
              </div>
              <div class="col-md-6 form-group">
                <label for="phone">Phone</label>
                <input type="text" id="phone" class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group"></div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="message">Write Message</label>
                <textarea
                  name="message"
                  id="message"
                  class="form-control"
                  cols="30"
                  rows="8"
                ></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  type="submit"
                  value="Send Message"
                  class="btn btn-primary"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-6 pl-2 pl-lg-5">
          <div class="col-md-8 mx-auto contact-form-contact-info">
            <h4 class="mb-5">Contact Details</h4>
            <p class="d-flex">
              <span
                class="fas fa-map-marker-alt mr-5"
                style="color: orangered; font-size: 3rem;"
              ></span>
              <span>34 Street Name, City Name Here, India</span>
            </p>
            <br />
            <br />
            <p class="d-flex">
              <span
                class="fas fa-phone mr-5"
                style="color: orangered; font-size: 3rem;"
              ></span>
              <span>+1 242 4942 290</span>
            </p>
            <br />
            <br />
            <p class="d-flex">
              <span
                class="fas fa-envelope mr-5"
                style="color: orangered; font-size: 3rem;"
              ></span>
              <span>info@yourdomain.com</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- map -->
    <div>
      <p style="margin: 0;padding: 0;">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3507.3272247281793!2d77.30514401440317!3d28.469690498184658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce74067df1525%3A0x2adb819b4c474f85!2sCrown%20Interiorz%20Mall!5e0!3m2!1sen!2sin!4v1590156451355!5m2!1sen!2sin"
          width="1340"
          height="450"
          frameborder="0"
          style="border: 0;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </p>
    </div>

    <!-- newsletter -->

    <div style="margin-top: 100px; background-color: aliceblue;">
      <div class="container mb-5" style="padding: 100px;">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="row">
              <div class="col-md-12 mb-3">
                <h3 class="display-5" style="color: goldenrod;">
                  Subsribe Newsletter
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Dolore ex temporibus magni ipsam inventore dolorum sunt, amet
                  vel.
                </p>
              </div>
              <form class="col-12 mb-5">
                <div class="row align-items-center">
                  <div class="col-md-8 mb-3 mb-md-0">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Email Address"
                    />
                  </div>
                  <div class="col-md-4">
                    <input
                      type="submit"
                      class="btn btn-primary btn-block"
                      value="Subscribe"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- bottom -->
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4 mb-5">
          <h3 id="About">About Us</h3>
          <p class="mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptatibus et dolor blanditiis consequuntur ex voluptates
            perspiciatis omnis unde minima expedita.
          </p>
          <ul class="list-unstyled footer-link d-flex footer-social">
            <li>
              <a href="#" class="p-2"
                ><span
                  ><i
                    class="fab fa-twitter"
                    style="color: orangered;"
                  ></i></span
              ></a>
            </li>
            <li>
              <a href="#" class="p-2"
                ><span class="fab fa-facebook" style="color: orangered;"></span
              ></a>
            </li>
            <li>
              <a href="#" class="p-2"
                ><span class="fab fa-linkedin" style="color: orangered;"></span
              ></a>
            </li>
            <li>
              <a href="#" class="p-2"
                ><span class="fab fa-instagram" style="color: orangered;"></span
              ></a>
            </li>
          </ul>
        </div>
        <div class="col-md-5 mb-5">
          <div class="mb-5">
            <h3>Opening Hours</h3>
            <p>
              <strong class="d-block font-weight-normal text-black"
                >Sunday-friday</strong
              >
              5AM - 10PM
            </p>
          </div>
          <div>
            <h3>Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block text-black">Address:</span>
                <span>34 Street Name, City Name Here, India</span>
              </li>
              <li class="d-block">
                <span class="d-block text-black">Phone:</span
                ><span>+1 242 4942 290</span>
              </li>
              <li class="d-block">
                <span class="d-block text-black">Email:</span
                ><span>info@yourdomain.com</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 mb-5">
          <h3>Quick Links</h3>
          <ul class="list-unstyled footer-link">
            <br />
            <li>
              <a href="#" style="color: #f07612; line-height: 1.5;">About</a>
            </li>
            <br />

            <li>
              <a href="#" style="color: #f07612; line-height: 1.5;"
                >Terms of Use</a
              >
            </li>
            <br />
            <li>
              <a href="#" style="color: #f07612; line-height: 1.5;"
                >Disclaimers</a
              >
            </li>
            <br />
            <li>
              <a href="#" style="color: #f07612; line-height: 1.5;">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-12 text-md-center text-left">
          <p>
            Copyright ©
            <script
              type="text/javascript"
              async=""
              src="https://www.google-analytics.com/analytics.js"
            ></script>
            <script type="text/javascript">
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This is made with
            <i class="fa fa-heart text-danger" aria-hidden="true"></i> by
            <a href="Home.html" target="_blank">Foodingle</a>
          </p>
        </div>
      </div>
    </div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: -34.397, lng: 150.644 },
          zoom: 8,
        });
      }
    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
      async
      defer
    ></script>
  </body>
</html>
